@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");
// Reset CSS
* {
  margin: 0;
  padding: 0;
}
#bg-color {
  background-color: #898b8a;
  .container {
    background-image: url(/images/home/bg-circle-1.png) !important;
    font-family: "Poppins", "sans serif";
    h2 {
      text-align: center;
    }
  }
}
