@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&display=swap");

body {
  margin: 0 auto;
  font-family: "Poppins";
}

header {
  margin: 0 auto;
  padding: 10px 339px;

  //width: 100%;
  height: 100vh;

  background-image: url("../images/home/homapage-banner-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .nav-contain {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 60px 0px 60px;
    padding: 32px 0;

    position: relative;

    #nav {
      margin: 0px 60px;

      display: flex;
      flex: 1;
      justify-content: flex-end;
      gap: 48px;

      a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        font-weight: 500;
      }

      a:hover {
        color: rgba(240, 239, 239, 0.452);
      }
    }

    nav.social-link {
      display: flex;
      gap: 25px;

      li {
        display: inline-block;

        a {
          color: rgba(255, 255, 255, 0.5);
          transition: color 280ms linear 0s;

          svg {
            width: 22px;
            height: 22px;
          }

          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
#rythm {
  display: flex;
  justify-content: center;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -46px;
  .single-container {
    padding-top: 0px;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: -426px;

    .svg-text {
      width: 100%;
      height: 1.1em;
      overflow: visible;
      font-size: 120px;
      font-weight: 700;
      line-height: 1;
      fill: transparent;
      stroke: #ffffff;
      stroke-width: 1px;
    }

    #new-single-text {
      color: white;
    }
  }

  #audio {
    height: inherit;
    background: none;
  }
}

.countdown-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: -62px;

  .timer-countdown {
    height: 206px;
    width: 1170px;
    background-image: url("https://livedemo00.template-help.com/wt_prod-22022/images/bg-counter.jpg");
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
  }
}

.avergone {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  margin-top: 100px;
  margin-left: 280px;
  .section-raw-c {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 98px;
    gap: 102px;

    .image-avergone {
      display: flex;
    }
    h3 {
      font-size: 48px;
      color: black;
    }
  }
}
