@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  background-image: url(/images/home/homepage-sponsors-background.jpg);
  background-size: cover;
  background-repeat: repeat;
  height: 80vh;
  width: 210vh;
  position: relative;
}

.container-fluid h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: #fefbf3;
  position: absolute;
  left: 35%;
  top: 20%;
}

.container-fluid ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 30%;
  left: 15%;
}

.container-fluid ul li {
  padding: 0 10vh 0 10vh;
}

.container {
  margin-top: 20vh;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.container h2 {
  font-weight: bolder;
  font-size: 35px;
}

.container h5 {
  font-weight: 300;
  font-size: 20px;
}

.container p {
  font-size: 90px;
  font-weight: 300;
  margin-top: 5vh;
  margin-bottom: 1vh;
  color: #282828;
}

.container p .dollar {
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .details {
  list-style: none;
  margin-top: 3vh;
  margin-bottom: 6vh;
  font-size: 14px;
  font-weight: 100;
  margin-right: 2vh;
  line-height: 2;
}

.container .gold {
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
}

.container button {
  padding: 2.5vh 5.5vh 2.5vh 5.5vh;
  font-family: "Poppins", sans-serif;
  background-color: white;
  font-size: 15px;
  border: 1px solid;
  border-radius: 5px;
}

.container button:hover {
  background-color: #8121e0;
  color: white;
  -webkit-box-shadow: 0 2px 2px 2px rgba(68, 68, 68, 0.5);
          box-shadow: 0 2px 2px 2px rgba(68, 68, 68, 0.5);
  border: none;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  cursor: pointer;
}

.gallery {
  margin-top: 18vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .photo {
  width: 50vh;
}

.gallery > * {
  -webkit-box-flex: 3;
      -ms-flex: 3 10%;
          flex: 3 10%;
}

.news {
  font-family: "Poppins", sans-serif;
  margin-left: 10vh;
  margin-right: 10vh;
}

.news .middle-card {
  background: url(/images/home/homepage-news-background.jpg) rgba(68, 68, 68, 0.5);
  height: 50vh;
  border-radius: 9px;
  color: #fefbf3;
}

.news .middle-card a {
  color: #fefbf3;
}

.news h2 {
  font-size: 25px;
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 14vh;
}

.news time {
  border: 1px solid #8121e0;
  border-radius: 4px;
  color: #fefbf3;
  background-color: #8121e0;
  padding: 0.2vh;
}

.news h4 {
  margin-top: 4vh;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 4vh;
}

.news p {
  font-weight: 100;
  font-size: 15px;
  text-align: justify;
  margin-bottom: 4vh;
}

.news a {
  text-decoration: none;
  color: #282828;
}

.news a:hover {
  color: #444444;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */