@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");
// Reset CSS
* {
  margin: 0;
  padding: 0;
}
.container-fluid {
  background-image: url(/images/home/homepage-sponsors-background.jpg);
  background-size: cover;
  background-repeat: repeat;
  height: 80vh;
  width: 210vh;
  position: relative;
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: #fefbf3;
    position: absolute;
    left: 35%;
    top: 20%;
  }
  ul {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 30%;
    left: 15%;
    li {
      padding: 0 10vh 0 10vh;
    }
  }
}

.container {
  margin-top: 20vh;
  text-align: center;
  font-family: "Poppins", sans-serif;
  h2 {
    font-weight: bolder;
    font-size: 35px;
  }
  h5 {
    font-weight: 300;
    font-size: 20px;
  }
  p {
    font-size: 90px;
    font-weight: 300;
    margin-top: 5vh;
    margin-bottom: 1vh;
    color: #282828;

    .dollar {
      font-size: 20px;
      font-weight: 300;
      position: absolute;
      align-items: flex-start;
    }
  }
  .details {
    list-style: none;
    margin-top: 3vh;
    margin-bottom: 6vh;
    font-size: 14px;
    font-weight: 100;
    margin-right: 2vh;
    line-height: 2;
  }
  .gold {
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
  }
  button {
    padding: 2.5vh 5.5vh 2.5vh 5.5vh;
    font-family: "Poppins", sans-serif;
    background-color: white;
    font-size: 15px;
    border: 1px solid;
    border-radius: 5px;
  }
  button:hover {
    background-color: #8121e0;
    color: white;
    box-shadow: 0 2px 2px 2px rgba($color: #444444, $alpha: 0.5);
    border: none;
    transition: ease-in-out;
    cursor: pointer;
  }
}
.gallery {
  margin-top: 18vh;
  display: flex;
  flex-wrap: wrap;
  .photo {
    width: 50vh;
  }
}
.gallery > * {
  flex: 3 10%;
}
.news {
  font-family: "Poppins", sans-serif;
  margin-left: 10vh;
  margin-right: 10vh;
  .middle-card {
    background: url(/images/home/homepage-news-background.jpg);
    filter: grayscale(70%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 43vh;
    border-radius: 9px;
    padding: 2vh 2vh 6vh 2vh;
    time {
      border-radius: 4px;
      color: #fefbf3;
      background-color: #8121e0;
      padding: 0.2vh;
    }
    h4 {
      margin-top: 2vh;
      color: #fefbf3;
    }
    p {
      color: #fefbf3;
      margin-top: 7vh;
      line-height: 1.1;
    }
    a {
      color: #fefbf3;
      margin-bottom: 1vh;
    }
    a:hover {
      color: #fefbf3;
    }
  }

  h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 14vh;
  }
  time {
    border: 1px solid #8121e0;
    border-radius: 4px;
    color: #fefbf3;
    background-color: #8121e0;
    padding: 0.2vh;
  }
  h4 {
    margin-top: 2vh;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 4vh;
  }
  p {
    font-weight: 100;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 2vh;
  }
  a {
    text-decoration: none;
    color: #282828;
  }
  a:hover {
    color: #444444;
    transition: ease-in-out;
    cursor: pointer;
  }
}

.input {
  background-image: url(/images/home/homepage-footer-background.jpg);
  height: 80vh;
  background-repeat: cover;
  background-position: left;
  background-size: 100%;
  position: relative;
  margin-top: 12vh;
  h2 {
    color: #fefbf3;
    font-family: "Poppins", "sans serif";
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 34%;
  }
  form {
    position: absolute;
    top: 50%;
    left: 28%;
    font-family: "Poppins", "sans serif";
    margin-top: 8vh;

    .email {
      padding: 3vh 50vh 3vh 2vh;
      border-radius: 5px;
      font-size: 20px;
      font-weight: lighter;
      border: none;
      color: #444444;
    }
    .button {
      padding: 3vh 5vh 3vh 5vh;
      border-radius: 5px;
      font-size: 20px;
      border: none;
      background-color: #8121e0;
      color: #fefbf3;
    }
  }
}
